<div class="relative z-10">
  <button
    (click)="toggle()"
    class="px-3 py-2 rounded shadow-inner flex items-center justify-between md:justify-end gap-2 min-w-[200px] hover:bg-gray-700 hover:shadow-lg text-white"
    [class.bg-gray-700]="isOpen"
  >
    <svg *ngIf="loading" class="text-base animate-spin" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024">
      <path fill="currentColor" d="M988 548c-19.9 0-36-16.1-36-36c0-59.4-11.6-117-34.6-171.3a440.45 440.45 0 0 0-94.3-139.9a437.71 437.71 0 0 0-139.9-94.3C629 83.6 571.4 72 512 72c-19.9 0-36-16.1-36-36s16.1-36 36-36c69.1 0 136.2 13.5 199.3 40.3C772.3 66 827 103 874 150c47 47 83.9 101.8 109.7 162.7c26.7 63.1 40.2 130.2 40.2 199.3c.1 19.9-16 36-35.9 36z"/>
    </svg>
    <span>{{ selected || 'Select '+placeholder }}</span>
    <svg class="h-3 duration-100 transition-transform" [class.rotate-90]="isOpen" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink">
      <path fill="currentColor" d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/>
    </svg>
  </button>
  <div
    class="absolute z-20 rounded-b -mt-1 w-full right-0 shadow-lg bg-gray-700 text-white"
    [class.hidden]="!isOpen"
  >
    <ul>
      <li class="p-2">
        <div class="relative">
          <input
            type="text"
            class="ring-0 rounded px-2 py-1 w-full text-gray-900 border-0 focus:border-0 focus:ring-0"
            [placeholder]="'Find '+ placeholder +'...'"
            [(ngModel)]="keyword"
            onclick="this.select()"
          >
          <button
            *ngIf="keyword"
            class="absolute top-0 right-0 text-gray-900 px-2 py-1"
            (click)="keyword = ''"
          >&times;</button>
        </div>
      </li>
      <div class="max-h-96 overflow-y-auto py-2">
        <li
          class="p-2 flex items-center justify-between cursor-pointer hover:bg-gray-500"
          [class.hidden]="keyword"
          (click)="select('')"
        >
          <span>{{ 'Select '+placeholder }}</span>
        </li>
        <li
          *ngFor="let option of options"
          class="p-2 flex items-center justify-between cursor-pointer hover:bg-gray-500"
          [class.hidden]="keyword && !option.toLowerCase().includes(keyword.toLowerCase())"
          (click)="select(option)"
        >
          <span>{{ option }}</span>
          <svg *ngIf="option == selected" class="fill-current" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
            <path fill="currentColor" d="M6.61 11.89L3.5 8.78 2.44 9.84 6.61 14l8.95-8.95L14.5 4z"/>
          </svg>
        </li>
      </div>
    </ul>
  </div>
</div>