<!-- Toolbar -->
<div class="flex flex-col md:items-center p-3 md:py-4 shadow-lg md:shadow-none" role="banner">
  <div class="flex gap-2 items-center">
    <img src="/assets/logo-u.png" alt="logo" class="h-8 md:h-16">
    <h1 class="text-lg md:text-3xl font-medium opacity-70">Ur Snippet</h1>
  </div>
  <p class="opacity-50 hidden md:flex">lets share your snippets to the universe</p>
</div>

<div role="main">

  <div class="xl:container mx-auto grid grid-cols-2 py-4">
    <div>
      <app-editor></app-editor>
    </div>
    <div>
      <app-preview></app-preview>
    </div>
  </div>

  <!-- Footer -->
  <footer class="bg-gray-600 p-3 text-center text-white">
    © 2022 UrSnippet™. All Rights Reserved.
  </footer>

</div>