/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../node_modules/highlight.js/scss/base16/material-darker.scss';

.ace_active-line {
  background: transparent !important;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: rgba(229, 231, 235, 0.5);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-800;
  border-radius: 4px;
  border: 1px solid transparent;
  background-clip: content-box;
}